
table {
    margin: auto;
    box-sizing: border-box;
}


tr {
    background-color:rgb(228, 178, 213) ;
}

.container{
    width: 600px;
    height: 700px;
    margin: auto;
}

button {
    border: none;
}

input {
    margin-right: 10px;
}
.level {
    width: 250px;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 190px;
}
.board-container {
    width: 600px;
    height: 700px;
    border: 2px black;
}
.game-status{
        width: 80px;
        height: 80px;
        margin-left: 250px;
}
.cell:hover{
    background-color: #DDD;
    box-shadow: none;
}
.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;

    text-align: center;
    box-shadow: inset 5px 5px 10px rgb(228, 178, 213), inset -3px -3px 5px rgb(150, 141, 141);
}

.show{
    cursor: default;
    box-shadow: none;
    background-color: #DDD;
}
.game-status img{
    width:inherit;
    height:inherit ;
}
